#P00{
    text-align: center;
    color: gray;
}
#P0{
    font-family:Impact, fantasy;
    color:rgb(87, 42, 23);
}
#Sleem{
    font-family: Franklin Gothic Medium;
    color:rgb(87, 42, 23);
}
#SADU{
    font-family: 'Franklin Gothic Medium';
    color:rgb(87, 42, 23);
}
#AALI{
    font-family: 'Franklin Gothic Medium';
    color:rgb(87, 42, 23);
}
#SEMIR{
    font-family: 'Franklin Gothic Medium';
    color:rgb(87, 42, 23);
}
#NIL{
    color: green;
}
#NIG{
    color: red;
}
#GG{
    color: red;
}
html{
    background:antiquewhite;
}
#P2N{
    text-align: center;
    font-size:3cm ;
    color:  rgba(135, 207, 235, 0.74);
    font-family: 'Franklin Gothic Medium';
}
#P1{
    text-align: center;
}
#P0{
    text-align: center;
}